asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
fastapi==0.68.2
grpcio==1.43.0
h11==0.13.0
idna==3.3
joblib==1.1.0
mlserver==0.5.3
mlserver-sklearn==0.5.3
numpy==1.22.1
pandas==1.4.0
protobuf==3.19.3
pydantic==1.9.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
starlette==0.14.2
threadpoolctl==3.0.0
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.0
